@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 style="color:#191970"  class="display-4">Welcome</h1>

    <h2 style="color:#191970" ;>  You are successfully logged in to this page </h2>
</div>
